@font-face {
  font-family: Monserrat-Bold;
  src: url("/res/Montserrat-SemiBold.otf");
}

@font-face {
  font-family: Monserrat-light;
  src: url("/res/Montserrat-ExtraLight.otf");
}

@font-face {
  font-family: Monserrat;
  src: url("/res/montserrat.regular.ttf");
}

@media (max-width: 767px) { /*telefono*/
  .escritorio{
    display: none;
  }

body{
    width: 100%;
    font-family: Monserrat-light;
}

  /*Estilos imagen grande*/

#title{
  width: 80%;
  max-width: 300px;
  bottom: 60px;      /* Distancia desde abajo, ajusta a tu gusto */
  padding: 5px 5px;
  border-radius: 15px;
  font-size: 30px;
}

.imagenGrande img
{
    width: 70%;
    max-width: 300px;
    height: auto;
    border-radius: 15px;
    margin: 5px; 
}

.imagenGrande i
{
  font-size: 40px;
}

#equisCerrar
{
    top: 5%;
    right: 5%;
    font-size: 35px;
}

.nav{/*CAJA MADRE dentro esta todo el menu*/
    background-color: #ffffff;
}

.nav_container{ 
    width: min(90%,1200); /*Lo mismo q las otras 2 lineas*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    --icon-toggle-menu: url("res/hamburguer.svg");
    --transform-menu-show:translate(-100%);
    box-shadow: 0 0 10px rgba(21, 75, 141, 0.5);
}


.nav_container:has(.nav_input:checked){
    --icon-toggle-menu: url("res/close.svg");
      --transform-menu-show:translate(0%);
}

.nav_figure, .nav_toggle{
    z-index: 10;
}

.nav_toggle{
    width: 50px;
    height: 50px;
    margin: 0 20px;
    background-image: var(--icon-toggle-menu);
    background-size: cover;
    cursor: pointer;
    transition: background-image .5s;
}


.nav_input{
    display: none;
}

.nav_list{ /*despliegue del menu*/ /*---ASI SE VE EL MENU DESPLEGADO---*/
  font-family: Monserrat-Bold;
  transform: var(--transform-menu-show);
  position: fixed; /*pa que no se mueva de donde esta*/
  inset: 0;/*esto hace que el menu ocupe todo el espacio*/
  margin-top: 140px;
  width: 100%;
  height: 380px;
  display: grid; /*para q ocupen todo el espacio hacia abajo como space btween*/
  align-content: center; /*para q se centren en el eje y esten juntitos*/
  /*justify-content: center; /*Para q se centre en el eje x (horizontal)*/
  /*align content y justify content se pueden juntar con un place-content*/
  /*gap: 1rem; /*para q donde estan todos en el centro, mantengan un poco de espacio como con margin*/
  /*text-align: center; /*para q se centren horizontalmente*/
  /* padding: 1.5rem 5%; */
  background-color: #154b8d;
  list-style: none;
  transition: .5s transform;
}

.nav_item{
  margin: 5px 20px;
  padding: 10px;
  height: auto;
  border-bottom: solid 1px rgba(255, 255, 255, 0.5);
}
 
.nav_link{
  text-decoration: none;
  color: white;
}

.nav_logo{
  width: 60px;
  height: 60px;
  margin: 0 20px;
}

body.no-scroll {
    overflow: hidden;
    position: fixed;
    width: 100%;
}

  /*****CONTENEDORES*********/

  /*Contenedores encabezado*/
  #encavezado{ /*Parte superior del menu CAJA MADRE*/
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    display: flex;
    background-color: #154f91;
  }
  /*****/
    .titulo{
    font-size: 10px;
    margin: 30px 10px 10px 10px;
    width: fit-content;
    border-radius: 15px;
    padding: 10px;
  }

  /*Contenedores cuerpo*/
  #contenedor{ /*Contenedor del cuerpo (todas las cajitas) CAJA MADRE*/
      padding: 20px 3px 0px 10px; /*arriba derecha abajo izquierda*/
  }

    #caja{ /*contenedor de el banner CAJA HIJA*/
        width: 100%;
        height: 500px;
        border-top: 1px solid #0000008e;
    }

    #cajita{ /*Contenedor de anuncios pequeña CAJA HIJA*/
      width: 100%;
      height: auto;
      max-height: 200px;
      padding: 5px;
      border-top: 1px solid #000000b0;
    }
      #contenido{
        margin: 10px 0px;
      }

      #carrucel{
        box-sizing: border-box;
        width: 90%;
        height: auto;
        /* margin: 10px 0px; */
        display: flex;
        justify-content: center;                    
        align-items: center;
        /* min-height: 100vh; */
        /* background-color: blue; */
        /* background-size: cover; */
      }

      .box{
        /* position: relative; */
        width: 45px;
        height: 45px;
        transform-style: preserve-3d;
        animation: animate 20s linear infinite;
      }

      @keyframes animate{
          0%{
              transform: perspective(1000px) rotateY(0deg);
          }
          100%{
              transform: perspective(1000px) rotateY(360deg);
          }
      }
      .box span{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transform-origin: center;
          transform-style: preserve-3d;
          transform: rotateY(calc(var(--i)*45deg)) translateZ(56px); /*Este tarslate es para el espacio entre imagenes*/
          /* -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0004);  */
      }
      
      .box span img{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 10px;
          object-fit: cover;
          background-color: #ffffff;
      }

      #pieDeCaja{
        height: 250px;
      }
  /****/

  /*Contenedores del pie de página*/
   #Piesote{
    color: white;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-color: #154f91;
    width: auto;
  }
    .canal14{
      padding: 40px 30px 0 30px;
    }
    .otros{ /*Contenedores de la derecha (son 3) CAJA HIJA*/
      padding: 15px 30px;
    }

  #pie2{
    padding: 25px 25px 0px;
  }

    #pie4caja{
      padding: 18px 0px 40px;
      text-align: center;
      color: white;
    }
  #pie5{
    height: 60px;
  }
  .cj{
        display: flex;
        align-items: center;
        justify-content: left;
        padding: 10px 0px;
      }
/*****************************/


/*****IMAGENES*****/
  #redes{ /*iconos de las redes*/
    width: 30px;
    height: 30px;
    padding: 5px;
    box-shadow: 0px 0px /*10px rgba(255, 255, 255, 0.5)*/ 10px rgba(0, 0, 0, 0.5);
    margin: 0 5px;
  }

  .logoBlanco{ /*Logo canal 14 blanco del pie*/
      width: 50px;
      margin: 0px 42%;
  }

  .regiones{ /*imagen regiones 14.2 del pie*/
    width: 150px;
    margin: 0px 32%;
  }

  .coopelesca{
    margin: 150px 0 px 0px;
    width: 80%;
  }

  .imagen{ /*de las noticias (las que van en las cajitas pues)*/
    height: 75px;
    margin-top: 30px;
    border-radius: 10px;
  }

  .contacto{
    width: 30px;
    height: 30px;
    margin: 0px 10px;
    border-radius: 6px;
    padding: 5px;
  }
/***********************/


/******TIPOGRAFIA******/
h2{
  font-size: 20px;
}

h3{
  font-size: 15px;
  margin: 5px 0px;
}

ol{
  font-size: 14px;
  margin: 30px 0px;
}

.texto{
  width: 100%;
}

.dia{
  font-size: 10px;
  margin: 6px 0px;
}

.verde {
  width: 100%;
}

p{
  font-size: 14px;
}
.copyright{
  text-align: center;
  font-size: 17px;
  padding: 15px 0px;
}

.correo{
    border-radius: 5px;
    width:95%;
    height: 30px;
    margin: 10px 0;
    font-size: 15px;
    padding: 5px 10px;
    /*box-sizing: border-box; /* asegura que padding no rompa el ancho */
  }

  .enviarBoton{
    border: none;
    height: 35px;
    box-shadow: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin:10px;
    color: white;
    background-color: #a2d45e;
    font-family: Monserrat-Bold;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.557);
  }

  #flechBlanca{
    color: #ffffff;
    font-size: 20px;
  }

  .flechabox{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media (min-width: 768px) and (max-width: 990px) {/*tablet*/
  .escritorio{
    display: none;
  }

  /*Estilos imagen grande*/

#title{
  width: 80%;
  max-width: 800px;
  bottom: 80px;     
  padding: 5px 5px;
  border-radius: 15px;
  font-size: 35px;
}

.imagenGrande img
{
    width: 70%;
    max-height: 700px;
    height: auto;
    border-radius: 25px;
    margin: 10px;
}

.imagenGrande i
{
  font-size: 60px;
}


#equisCerrar
{
    top: 5%;
    right: 5%;
    font-size: 60px;
}


  /*****CONTENEDORES*********/

 .nav{/*CAJA MADRE dentro esta todo el menu*/
    background-color: #ffffff;
}

.nav_container{ 
    width: min(90%,1200); /*Lo mismo q las otras 2 lineas*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 110px;
    --icon-toggle-menu: url("/res/hamburguer.svg");
    --transform-menu-show:translate(-100%);
    box-shadow: 0 0 10px rgba(21, 75, 141, 0.5);
}


.nav_container:has(.nav_input:checked){
    --icon-toggle-menu: url("/res/close.svg");
      --transform-menu-show:translate(0%);
}

.nav_figure, .nav_toggle{
    z-index: 10;
}

.nav_toggle{
    width: 65px;
    height: 65px;
    margin: 0 20px;
    background-image: var(--icon-toggle-menu);
    background-size: cover;
    cursor: pointer;
    transition: background-image .5s;
}


.nav_input{
    display: none;
}

.nav_list{ /*despliegue del menu*/ /*---ASI SE VE EL MENU DESPLEGADO---*/
  font-family: Monserrat-Bold;
  font-size: 25px;
  transform: var(--transform-menu-show);
  position: fixed; /*pa que no se mueva de donde esta*/
  inset: 0;/*esto hace que el menu ocupe todo el espacio*/
  margin-top: 210px;
  width: 100%;
  height: 550px;
  display: grid; /*para q ocupen todo el espacio hacia abajo como space btween*/
  align-content: center; /*para q se centren en el eje y esten juntitos*/
  /*justify-content: center; /*Para q se centre en el eje x (horizontal)*/
  /*align content y justify content se pueden juntar con un place-content*/
  /*gap: 1rem; /*para q donde estan todos en el centro, mantengan un poco de espacio como con margin*/
  /*text-align: center; /*para q se centren horizontalmente*/
  /* padding: 1.5rem 5%; */
  background-color: #154b8d;
  list-style: none;
  transition: .5s transform;
}

.nav_item{
  margin: 10px 20px;
  padding: 10px;
  height: auto;
  border-bottom: solid 1px rgba(255, 255, 255, 0.5);
}
 
.nav_link{
  text-decoration: none;
  color: white;
}

.nav_logo{
  width: 80px;
  height: 80px;
  margin: 0px 20px;
}

body.no-scroll {
    overflow: hidden;
    position: fixed;
    width: 100%;
}

  /*****CONTENEDORES*********/

  /*Contenedores encabezado*/
  #encavezado{ /*Parte superior del menu CAJA MADRE*/
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    display: flex;
    background-color: #154f91;
  }
  /*****/

  /*Contenedores cuerpo*/
  .titulo{
    font-size: 15px;
    margin: 50px 50px 0px 50px;
    width: fit-content;
    border-radius: 25px;
    padding: 10px;
  }
  #contenedor{ /*Contenedor del cuerpo CAJA MADRE*/
      padding: 20px 20px 0px 20px; /*arriba derecha abajo izquierda*/
  }

    #caja{ /*contenedor de el banner CAJA HIJA*/
        border-radius: 15px;
        width: 100%;
        height: 500px;
        border: 1px solid #0000008e;
    }

    #cajita{ /*Contenedor de anuncios  CAJA HIJA*/
      justify-content: space-between;
      width: 95%;
      height: 150px;
      margin: 30px 0px;
      padding: 20px;
      border-radius: 15px;
      box-shadow: 0px 0px 8px rgba(21, 79, 145, 0.623);
    }

      #carrucel{
        box-sizing: border-box;
        width: 55%;
        height: auto;
        /* margin: 10px 0px; */
        display: flex;
        justify-content: center;                    
        align-items: center;
        /* min-height: 100vh; */
        /* background-color: blue; */
        /* background-size: cover; */
      }

      .box{
        position: relative;
        width: 80px;
        height: 80px;
        transform-style: preserve-3d;
        animation: animate 20s linear infinite;
      }

      @keyframes animate{
          0%{
              transform: perspective(1000px) rotateY(0deg);
          }
          100%{
              transform: perspective(1000px) rotateY(360deg);
          }
      }
      .box span{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transform-origin: center;
          transform-style: preserve-3d;
          transform: rotateY(calc(var(--i)*45deg)) translateZ(100px); /*Este tarslate es para el espacio entre imagenes*/
          /* -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0004);  */
      }
      
      .box span img{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 10px;
          object-fit: cover;
          background-color: #ffffff;
      }
    /****/
  
/*****************************/
  /*Contenedores del pie de página*/
  #Piesote{
    color: white;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-color: #154f91;
    padding-top: 40px;
  }

  #pie{ /*Contenedor grande CAJA MADRE*/
    display: flex;
    width: auto;
    padding: 10px 25px;;
  }
    .canal14{ /*Contenedor de la izquierda CAJA HIJA*/
      font-size: 18px;
      height: 80%;
      margin: 0 30px;
    }
    .otros{ /*Contenedores de la derecha (son 3) CAJA HIJA*/
      width: 35%;
      height: 50%;
      padding: 0px 20px;
    }

      .cj{
        display: flex;
        align-items: center;
        justify-content: left;
        margin: 10px 0px;
      }

  #pie1{
    display: flex;
    border:solid 1px #0000008e;
  }

  #pie2{
    display: flex;
    background-color: #154f91;
    width: 100%;
    height: 170px;
  }
    #pie2caja{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    #pie2caja2{
      width: 100%;
      height: 100px;
    }

  #pie3{
    display: flex;
  }
  #pie4{
    display: flex;
    justify-content: space-between;
    width: auto;
    padding: 15px 0;
    height: 100px;
    margin: 0px;
  }
    #pie4caja{
      width: auto;
      margin-right: 80px;
    }
  #pie5{
    background-color: yellowgreen;
    width: 100%;
    height: 40px;
  }
/*****************************/


/*****IMAGENES*****/
  #redes{ /*iconos de las redes*/
    width: 50px;
    height: 50px;
    padding: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    margin: 0 15px;
  }

  /*.redesSociales{
    width: 20px;
    height: 20px;
    margin: 0px 10px;
    border-radius: 6px;
    background-color: #9acd32;
    padding: 5px;
  }*/
  .contacto{
    width: 30px;
    height: 30px;
    margin: 0px 10px;
    border-radius: 6px;
    padding: 5px;
  }

  .logoBlanco{ /*Logo canal 14 blanco del pie*/
      width: 150px;
      margin: 0 41%;
  }

  .regiones{ /*imagen regiones 14.2 del pie*/
    width: 160px;
    height: 160px;
    margin: 0px 65px 0 100px;
  }

  .coopelesca{
    width: 200px;
  }

  .imagen{
    height: 100px;
    margin-top: 25px;
    border-radius: 30px;
  }
/***********************/


  /******TIPOGRAFIA******/

  h2{
      margin: 30px 0px;
  }

  h3{
    font-size: 22px;
    margin: 5px 0px;
  }

  ol{
    font-size: 16px;
    margin: 30px 0px;
  }

  .dia{
    display: flex;
    font-size: 15px;
    margin: px 0px;
  }

  .verde {
    width: 100%;
  }

  .copyright{
    font-size: 20px;
    margin: 20px 50px 0 50px;
  }

  #flechBlanca{
    color: #ffffff;
    font-size: 20px;
  }

  .correo{
    border-radius: 5px;
    width:70%;
    height: 28px;
    font-size: 15px;
    padding: 5px 10px;
  }

  .enviarBoton{
    border: none;
    height: 39px;
    box-shadow: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 5px ;
    color: white;
    background-color: #a2d45e;
    font-family: Monserrat-Bold;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.557);
  }

  .buscador{
    border: none;
    outline: none;
    box-shadow: none;
    color: #154f91;
    height: 40px;
    width: 60%;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    background-color: #d3e9ff;
    padding: 5px 10px;
  }

  #lupa{
    background-color: #d3e9ff;
    color: #154f91;
    font-size: 25px;
    font-family: Monserrat-Bold;
    height: 24px;
    width: 25px;
    padding: 8px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
  }

}

@media (min-width: 991px) {/*compu*/
  .tablet{
    display: none;
  }
  .telefono{
    display: none;
  }

  #menu ul, #menu li, #menu a {margin: 0;padding: 0;}

  #menu ul {list-style: none;}
  
  #menu a {text-decoration: none;}

  #menu
  {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: #154f91;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
    width: 100%;
    margin: 0 ;
  }

  #menu > ul > li {
    float: left;
    /* margin-left: 25px; */
    position: relative;
  }
  #menu > ul > li > a {
    display: flex;
    align-items: center;
    color: #ffffff;
    font-family: Monserrat-Bold;
    font-size: 15px;
    line-height: 40px;
    padding: 0px 10px;
    -webkit-transition: color .15s;
    -moz-transition: color .15s;
    -ms-transition: color .15s;
    -o-transition: color .15s;
    transition: color .15s;
  }
  #menu > ul > li > a:hover {font-family: Monserrat-light;}
  #menu > ul > li > ul {
    opacity: 0;
    visibility: hidden;
    padding: 8px 0 8px 0;
    background-color: #f3f9ff;
    text-align: left;
    position: absolute;
    top: 25px;
    left: 50%;
    margin-left: -90px;
    width: 270px; /******/
    -webkit-transition: all .3s .1s;
    -moz-transition: all .3s .1s;
    -o-transition: all .3s .1s;
    transition: all .3s .1s;
    border-radius: 5px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  }
  .flechabox{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .flechabox:hover{
    background-color: #d3e9ff;
    color: #154f91;
  }

  #menu > ul > li:hover > ul { /*flecha arriba*/
    opacity: 1;
    top: 42px;
    visibility: visible;
  }
  #menu > ul > li > ul:before { /*esto es de la flecha de arriba, solo la flecha*/
    content: '';
    display: block;
    border-color: transparent transparent #f3f9ff transparent;
    border-style: solid;
    border-width: 10px;
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -10px;
  }
  #menu > ul ul > li {position: relative;}
  #menu ul ul a { 
    color: #154f91;
    font-family: Monserrat-bold;
    font-size: 15px;
    background-color: #f3f9ff;
    padding: 5px 8px 7px 16px;
    display: block;
    -webkit-transition: background-color 0.1s;
    -moz-transition: background-color 0.1s;
    -ms-transition: background-color 0.1s;
    -o-transition: background-color 0.1s;
    transition: background-color 0.1s;
  }
  #menu > ul > li > ul > li > ul:before { /*flecha al lado*/
    content: '';
    display: block;
    border-color: transparent #154f91/*#f3f9ff*/ transparent transparent;
    border-style: solid;
    border-width: 10px;
    position: absolute;
    top: 11%;
    left: -20px;
  }
  #menu ul ul ul {  /*ESTE no ES*/
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: -16px;
    left: 306px;
    padding: 8px 0 8px 0;
    background-color: #f3f9ff;
    text-align: left;
    width: 180px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    border-radius: 5px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  }
  #menu ul ul > li:hover > ul {
    opacity: 1;
    left: 285px; /*****/
    visibility: visible;
  }
  #menu ul ul a:hover {
    background-color: #d3e9ff;
    color: #154f91;
  }

  /*Estilos imagen grande*/

#title{
  bottom: 30px;      /* Distancia desde abajo, ajusta a tu gusto */
  margin: 20px 0 0 0;
  padding: 10px 10px;
  border-radius: 15px;
  font-size: 30px;
}

.imagenGrande img
{
    width: auto;
    max-height: 700px;
    height: 60%;
    border-radius: 25px;
    margin: 10px;
}

.imagenGrande i
{
  font-size: 40px;
}


#equisCerrar
{
    top: 5%;
    right: 5%;
    font-size: 35px;
}


  /*****CONTENEDORES*********/

  /*Contenedores encabezado*/
  #encavezado{ /*Parte superior del menu CAJA MADRE*/
      width: 100%;
      height: 200px;
      display: flex;
  }
    #iconosRedes{ /*Imagenes de las redes sociales CAJA HIJA*/
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35%;
        height: auto;
    }
    #logobox{ /*contenedor caja del logo del encabezado CAJA HIJA*/
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30%; 
        height: auto;
    }
    #vacio{ /*contenedor CAJA HIJA*/
      display: flex;
      align-items: center;
      justify-content: center;
      width: 35%;
    }
  /*****/

  /*Contenedores cuerpo*/
  .titulo{
    font-size: 20px;
    margin: 50px 50px 20px 50px;
    width: fit-content;
    border-radius: 25px;
    padding: 10px;
  }
  #contenedor{ /*Contenedor del cuerpo CAJA MADRE*/
      padding: 20px 50px 0px 50px; /*arriba derecha abajo izquierda*/
  }

    #contenedorBanner{ /*Cajas dobles (2 x fila) CAJA HIJA*/
        display: flex;
        justify-content: space-between;
        padding: 20px 50px 0px 50px; /*arriba derecha abajo izquierda*/
    }

    #caja{ /*contenedor de el banner CAJA HIJA*/
        border-radius: 15px;
        width: 100%;
        height: 500px;
        border: 1px solid #0000008e;
    }

    #cajita{ /*Contenedor de anuncios  CAJA HIJA*/
      justify-content: space-between;
      width: 95%;
      height: 200px;
      margin: 30px 0px;
      padding: 20px 30px 30px 30px;
      border-radius: 15px;
      box-shadow: 0px 0px 8px rgba(21, 79, 145, 0.623);
    }

      #contenido{
        margin: 10px 0px;
      }

      #carrucel{
        box-sizing: border-box;
        width: 50%;
        height: auto;
        /* margin: 10px 0px; */
        display: flex;
        justify-content: center;                    
        align-items: center;
        /* min-height: 100vh; */
        /* background-color: blue; */
        /* background-size: cover; */
      }

      .box{
        position: relative;
        width: 120px;
        height: 120px;
        transform-style: preserve-3d;
        animation: animate 20s linear infinite;
      }

      @keyframes animate{
          0%{
              transform: perspective(1000px) rotateY(0deg);
          }
          100%{
              transform: perspective(1000px) rotateY(360deg);
          }
      }
      .box span{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transform-origin: center;
          transform-style: preserve-3d;
          transform: rotateY(calc(var(--i)*45deg)) translateZ(153px); /*Este tarslate es para el espacio entre imagenes*/
          /* -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0004);  */
      }
      
      .box span img{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 10px;
          object-fit: cover;
          background-color: #ffffff;
      }

      #pieDeCaja{
        height: 250px;
      }
      
    /****/

  /*Contenedores del pie de página*/
   #Piesote{
    color: white;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-color: #154f91;
  }
  #pie{ /*Contenedor grande CAJA MADRE*/
    display: flex;
    width: auto;
    height: auto;
    margin-top: 80px;
    padding: 30px 50px;
  }
    .canal14{ /*Contenedor de la izquierda CAJA HIJA*/
      font-size: 15px;
      justify-content: left;
      width: 30%;
      height: 80%;
      margin: 20px 0px;
      padding: 0 10px 0 0;
    }
    .otros{ /*Contenedores de la derecha (son 3) CAJA HIJA*/
      width: 20%;
      height: 50%;
      padding: 20px 10px;
    }

      .cj{
        display: flex;
        align-items: center;
        justify-content: left;
        margin: 10px 0px;
      }

  #pie2{
    display: flex;
    width: auto;
    padding: 30px 0px;
    background-color: #154f91;
  }
    #pie2caja{
      padding: 0px 15% 0px 0px ;
    }
    #pie2caja2{
      width: 50%;
      height: 30px;
    }

  #pie3{
    display: flex;
    margin: 0px;
    background-color: #154f91;
  }
  #pie4{
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 100px;
    margin: 0px;
  }
    #pie4caja{
      width: auto;
      margin-right: 90px;
    }
  #pie5{
    background-color: yellowgreen;
    width: 99%;
    padding: 0px 5px;
    height: 10px;
  }
/*****************************/


/*****IMAGENES*****/
  #redes{ /*iconos de las redes*/
    width: 40px;
    height: 40px;
    margin: 0px 10px;
    background-color: #154f91;
    padding: 5px;
  }

  /*.redesSociales{
    width: 20px;
    height: 20px;
    margin: 0px 10px;
    border-radius: 6px;
    background-color: #9acd32;
    padding: 5px;
  }*/
  .contacto{
    width: 30px;
    height: 30px;
    margin: 0px 10px;
    border-radius: 6px;
    padding: 5px;
  }

  #logo14{ /*Logo canal 14 del encabezado*/
      width: 300px;
  }

  .logoBlanco{ /*Logo canal 14 blanco del pie*/
      width: 200px;
  }

  .regiones{ /*imagen regiones 14.2 del pie*/
    width: 120px;
    margin: 0px 80px;
  }

  .coopelesca{
    width: 200px;
  }

  .imagen{
    height: 150px;
    margin-top: 20px;
    border-radius: 30px;
  }
/***********************/


  /******TIPOGRAFIA******/

  h2{
      margin: 30px 0px;
  }

  h3{
    font-size: 18px;
    margin: 10px 0px;
  }

  ol{
    font-size: 15px;
    margin: 30px 0px;
  }

  p{
    line-height: 1,5;
  }

  .dia{
    font-size: 17px;
    margin: px 0px;
  }

  .verde {
    margin: 0px auto 20px auto; /*arriba derecha abajo izquierda*/
    width: 90%;
  }

  .copyright{
    margin: 10px 80px;
  }

  #flechBlanca {
    width: auto;
    height: auto;
    color: white;
    margin: 0 5px;
    font-size: 25px;
    font-family: Monserrat-Bold;
  }

  #flechBlue{
    color: #154f91;
    font-size: 20px;
  }

  .correo{
    border-radius: 5px;
    width:70%;
    height: 28px;
    padding: 5px 10px;
  }

  .enviarBoton{
    border: none;
    height: 42px;
    box-shadow: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 0 0  10px;
    color: white;
    background-color: #a2d45e;
    font-family: Monserrat-Bold;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.557);
  }

  .buscador{
    border: none;
    outline: none;
    box-shadow: none;
    color: #154f91;
    height: 40px;
    width: 60%;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    background-color: #d3e9ff;
    padding: 5px 10px;
  }

  #lupa{
    background-color: #d3e9ff;
    color: #154f91;
    font-size: 25px;
    font-family: Monserrat-Bold;
    height: 24px;
    width: 25px;
    padding: 8px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
  }
}

* {
    margin: 0px;
    padding: 0px;
}

/*****CONTENEDORES*********/
  /*Contenedores cuerpo*/
    .titulo{ 
      font-family: Monserrat-Bold;
      color: white;
      background: linear-gradient(to right, #9acd32, #154f91);
    }

    #caja{ /*contenedor de el banner CAJA HIJA*/
        width: 100%;
    }

    #cajita{ /*Contenedor de anuncios pequeña CAJA HIJA*/
      display: flex;
      width: 95%;
    }
      #contenido{
        width: auto;
        height: auto;
      }
      #pieDeCaja{
        width: auto;
      }
  /****/

  /*Contenedores del pie de página*/

  #pie4{ 
    background-color: #154f91;
    color: white;
  }
  #pie5{
    background-color: yellowgreen;
  }
/*****************************/


/*****IMAGENES*****/
  #redes{ /*iconos de las redes*/
      border-radius: 10px;
  }

  .redesSociales{
    width: 20px;
    height: 20px;
    margin: 0px 10px;
    border-radius: 6px;
    background-color: #9acd32;
    padding: 5px;
  }

  .imagen{
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.377); 
  }

/***********************/


/******TIPOGRAFIA******/
h1{
    font-family: Monserrat-Bold;
}

h2{
    font-family: Monserrat-Bold;
    color: yellowgreen;
}

h3{
  font-family: Monserrat;
  background: linear-gradient(to right, #9acd32, #154f91);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

ol{
  font-family: Monserrat;
}

p{
  font-family: Monserrat-light;
  line-height: 2;
}

.texto{
  width: 70%;
}

.verde {
  border: none;
  border-top: 2px solid yellowgreen;
}

.copyright{
  color: white;
}

/*Estilos imagen grande*/
.imagenGrande
{
    width: 100%;
    height: 100vh;
    background: radial-gradient(circle, rgba(21, 79, 145, 0.91) 25%, rgba(153, 205, 50, 0.91) 100%);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 99;
}

#title{
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  background: rgb(21, 79, 145);
  font-family: Monserrat;
  text-shadow: 0px 0px 8px #000000b6;
  text-align: center;
  z-index: 100;
}

.imagenGrande img
{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.616); 
}

.imagenGrande i
{
  color: #fff;
  cursor: pointer;
}


#equisCerrar
{
    color: #fff;
    position: absolute;
    cursor: pointer;   
    font-family: Monserrat;
}

.correo{
    border: none;
    outline: none;
    box-shadow: none;
    font-family: Monserrat;
  }
